<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmae.chairman.mapper.NewsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cmae.chairman.entity.News">
        <id column="Id" property="id" />
        <result column="Title" property="title" />
        <result column="Img" property="img" />
        <result column="Type" property="type" />
        <result column="Content" property="content" />
        <result column="CreateTime" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Id, Title, Img, Type, Content, CreateTime
    </sql>

</mapper>
